/* FONTS */
@font-face {
  font-family: "cormorantbold";
  src: url("../../assets/fonts/cormorant-bold-webfont.woff2") format("woff2"), url("../../assets/fonts/cormorant-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "cormorantitalic";
  src: url("../../assets/fonts/cormorant-italic-webfont.woff2") format("woff2"), url("../../assets/fonts/cormorant-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cormorantregular";
  src: url("../../assets/fonts/cormorant-regular-webfont.woff2") format("woff2"), url("../../assets/fonts/cormorant-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cormorantsemibold";
  src: url("../../assets/fonts/cormorant-semibold-webfont.woff2") format("woff2"), url("../../assets/fonts/cormorant-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
